{% extends 'base/base.html'%}

{% block title%}
Mascotas
{% endblock %}
{%block nav%}
{% endblock %}
{% block navbar%}
{% endblock %}
{% block content %}
  <div class="col-md-6 offset-6">
    <div class="card">
      <div class="card-block">


    <form class="form-horizontal m-3"  method="post">
        {% csrf_token %}
        <h4 class="card-title text-center"> Inicia Sesión</h4>
        <hr>
        <br>
        <div class="form-group">
          <label for="username" class="col-12 control-label no-padding">Nombre de usuario</label>
          <div class="col-12  no-padding">
              <input type="text" class="form-control" name="username" >
          </div>
          <div class="form-group">
            <label for="password" class="col-12 control-label no-padding">Contraseña</label>
            <div class="col-12  no-padding">
                <input class="form-control" type="password" name="password" >
            </div>
            <div class="row">
              <div class="col-md-6 offset-3">
                <div class="form-group mt-5">
                  <a href="{% url 'usuario:registrar'  %}">Crer una cuenta</a>
                  <input type="submit" name="Iniciar sesión" class="mt-5 btn btn-primary" value="Iniciar sesión">
                </div>
              </div>
            </div>
    </form>
          </div>
  </div>
  </div>
{% endblock %}
