{% extends 'base/base.html'%}
{% block content%}
  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>Nombre</td>
        <td>Género</td>
        <td>Edad</td>
        <td>Fecha de rescate</td>
        <td>Adoptante</td>
        <td>Acción</td>
      </tr>
    </thead>
    <tbody>
      {% if mascotas %}
      {% for mascota in mascotas %}
      <tr>
        <td>{{ mascota.id }}</td>
        <td>{{ mascota.nombre }}</td>
        <td>{{ mascota.genero }}</td>
        <td>{{ mascota.edad }}</td>
        <td>{{ mascota.fecha_rescate }}</td>
        <td>{{ mascota.persona.nombre }} {{ mascota.persona.apellidos }}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'mascota:mascotas_editar' id_mascota=mascota.id %}">Editar</a>
          <a  class="btn btn-danger" href="{% url 'mascota:mascotas_eliminar' id_mascota=mascota.id %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <h1>No hay registros que mostrar</h1>
      {% endif %}
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-6">
      {% if mascotas.has_previous %}
            <a href="?page={{ mascotas.previous_page_number }}" class="btn btn-link btn-left">Anterior</a>
        {% endif %}

    </div >
    <div class="col-md-6">
      {% if mascotas.has_next %}
            <a href="?page={{ mascotas.next_page_number }}" class="btn btn-link  float-right">Siguiente</a>
        {% endif %}
    </div>
  </div>
{% endblock %}
