{% extends 'base/base.html'%}
{% block content%}
<div class="text-center">


<table class="table table-striped table-bordered col-12">
    <thead>
      <tr>
        <td>#</td>
        <td><h5>Nombre</h5></td>
        <td><h5>Género</h5></td>
        <td><h5>Edad</h5></td>
        <td><h5>Fecha de rescate</h5></td>
        <td><h5>Adoptante</h5></td>
        <td><h5>Acción</h5></td>
      </tr>
    </thead>
    <tbody>
      {% if mascotas %}
      {% for mascota in mascotas %}
      <tr>
        <td>{{ mascota.id }}</td>
        <td>{{ mascota.nombre }}</td>
        <td>{{ mascota.genero }}</td>
        <td>{{ mascota.edad }}</td>
        <td>{{ mascota.fecha_rescate }}</td>
        <td>{{ mascota.persona.nombre }} {{ mascota.persona.apellidos }}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'mascota:mascotas_editar' id_mascota=mascota.id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
          <a  class="btn btn-danger" href="{% url 'mascota:mascotas_eliminar' id_mascota=mascota.id %}"><i  style="color:white;"class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
          <a  class="btn btn-info" href="{% url 'mascota:mascota_det' id_mascota=mascota.id %}"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>

        </td>
      </tr>
      {% endfor %}
      {% else %}
      <h1>No hay registros que mostrar</h1>
      {% endif %}
    </tbody>
  </table>
  <hr>
  <div class="row">
    <div class="col-md-6">
      {% if mascotas.has_previous %}
            <a href="?page={{ mascotas.previous_page_number }}" class="btn btn-link float-left">Anterior</a>
        {% endif %}

    </div >
    <div class="col-md-6">
      {% if mascotas.has_next %}
            <a href="?page={{ mascotas.next_page_number }}" class="btn btn-link  float-right">Siguiente</a>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
