{% extends 'base/base.html'%}

{% block content %}
<div class="text-center">


<table class="table table-striped table-bordered col-12">
    <thead>
      <tr>
        <td> <h5>Solicitud</h5></td>
        <td><h5>Adoptante</h5></td>
        <td><h5>Mascotas</h5></td>
        <td><h5>Razones</h5></td>
        <td><h5>Acciones</h5></td>
      </tr>
    </thead>
    <tbody>
      {% if solicitudes%}
        {% for solicitud in solicitudes %}
        <tr>
          <td>{{ solicitud.id }}</td>
          <td>{{solicitud.persona.nombre}} {{ solicitud.persona.apellidos}}</td>
          <td>{{ solicitud.numero_mascotas}}</td>
          <td>{{ solicitud.razon}}</td>

          <td>
            <a href="{% url 'adopcion:solicitud_editar' pk=solicitud.id %}" class="btn btn-primary"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
            <a href="{% url 'adopcion:solicitud_delete' id_solicitud=solicitud.id %}" class="btn btn-danger"><i  style="color:white;"class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
      <h1>No hay solicitudes que mostrar</h1>
      {% endif %}
    </tbody>
</table>
</div>
{% endblock %}
